:root {
    --main-bg-color: rgb(217, 217, 217);
    --main-bg-color-alt: rgba(219, 208, 208, 0.999);
    --main-bg-color-alt-2: rgba(245, 226, 226, 0.965);
    --main-text-color: rgb(15, 0, 93);
    --main-text-color-2: rgb(139, 138, 138);
}

body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    height: 100hv;
    width: 100%;
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
}

.logo {
    align-items: center;
    width: 50%;
    height: auto;
    background-color: var(--main-bg-color);
}

.logo-img {
    width: 150px;
    height: 150px;
    padding-left: 5rem;
}

.nav {
    width: 50%;
    float: right;
    height: auto;
    background-color: var(--main-bg-color);
    overflow: hidden;
        ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem 3rem 3rem;
             li {
                 margin: 0; 

                a {
                    color: var(--main-text-color);
                    font-family: "Lato", sans-serif;
                    font-size: small;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-decoration: none;
                    display: block;

                        &:hover {
                        background: var(--main-text-color);
                        color: white;
                        height: 100%;
                        width: 100%;
                        }
                    }
                }
            }
            
    }
