
$main-bg-color: rgb(217, 217, 217);
$main-bg-color-alt: rgba(219, 208, 208, 0.999);
$main-bg-color-alt-2: rgba(245, 226, 226, 0.965);
$main-text-color: rgb(15, 0, 93);
$main-text-color-2: rgb(139, 138, 138);
$image-scale: 1.2; 
$transition-duration: 0.3s;
