:root {
    --main-bg-color: rgb(217, 217, 217);
    --main-bg-color-alt: rgb(230, 230, 230);
    --main-bg-color-alt-2: rgba(178, 178, 178, 0.965);
    --main-text-color: rgb(15, 0, 93);
    --main-text-color-2: rgb(139, 138, 138);
}

body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    height: 100hv;
    width: 100%;
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
}

.logo {
    float: left;
    width: 50%;
    height: auto;
    background-color: var(--main-bg-color);
}

.nav {
    width: 50%;
    float: right;
    height: auto;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem 3rem 3rem;
}

.nav ul li {
    margin: 0;
}

.nav ul li a {
    color: var(--main-text-color);
    font-family: "Lato", sans-serif;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
}

.nav ul li a:hover {
    background: var(--main-text-color);
    color: white;
    height: 100%;
}

.logo img {
    width: 110px;
    height: 110px;
    margin-left: 15%;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.blur-background {
    background-image: url('img/foto_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    top: 50%;
    z-index: 1;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
    font-size: medium;
    transform: translateY(-50%);
}

.bloque
{   
    flex-direction: column;
    background-color: var(--main-bg-color-alt);
    overflow: hidden;
    flex-grow: 1; 
    width: 50%; 
    height: 50vh;
    flex-wrap: wrap;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 10vh;
    padding-bottom: 10vh;


    
}

.texto
{
    position: center;
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
    font-size: 1em;
    overflow: hidden;
    color: var(--main-text-color);
    padding-left: 40px;
    padding-right: 40px;

}

.texto--nuevo
{
    color: var(--main-text-color);
}

.span
{
    color: var(--main-bg-color-alt-2);
    background-color: white;
    
}

.span--alt
{
    color: white;
    background-color: var(--main-bg-color-alt-2);
    
}


.bloque--nuevo
{
    background-color:white;
}

.bloque--central
{
    background-color:var(--main-bg-color-alt);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.imagen 
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imagen--icon 
{
    height: 50%;
    width: 25%;
    padding-top: 0;
    padding-bottom: 0;
    
}

.footer 
{   background-color: var(--main-bg-color-alt-2); 
    color: #fff; 
    padding: 40px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    flex-direction: column;


} 

.footer a
{  
    color: var(--main-text-color);
    font-family: "Lato", sans-serif;
    font-size:smaller;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    justify-content: space-between;
    word-spacing: 5px;
    text-align: center;
} 

.footer-links ul 
{
    list-style: none;
    margin: 0;
    display: flex;
    padding-bottom: 15px;

    
}


.footer-links ul li a:hover 
{
    background: var(--main-text-color);
    color: white;
    height: 100%;
}

.footer-links ul li
{
    margin-left: 15px;
    margin-right: 15px;
}


.social-icons 
{ 
    display: flex; 
    padding-top: 20px;
} 

.social-icons a 
{ 
    margin: 0 10px; 
}

.redes
{
    width: 20px;
    height: 20px;
}

.footer h2
{  
    color: black;
    font-family: "Lato", sans-serif;
    font-size:xx-small;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    justify-content: space-between;
    word-spacing: 5px;
    text-align: center;
} 